*{
    padding: 0px;
    margin: 0px;
    background-color: #000;

    body{
        display: grid;
        height: 100vh;
        text-align: center;
        align-content: start;
        grid-template-rows: auto 1fr auto;
        color: #fff;
    }
}

header, main, footer{
    padding: 5px;
    margin: 0px;
}
