main{
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-top: 160px;

    p{
        color: #bfbfbf;
        font-size: 16px;
        max-width: 448px;
    }

    h2{
        color: #fff;
        font-size: 48px;
    }

    .first{
        display: grid;
        grid-template-rows: repeat(2, auto);

        .top{
            display: grid;
            grid-template-rows: repeat(2, auto);
            justify-content: center;
            padding-top: 64px;

            h2{
                text-align: center;
                font-weight: 900;
                letter-spacing: -0.025em;
                line-height: 1;
                max-width: 700px;
            }

            p{
                justify-self: center;
                max-width: 512px;
                text-align: center;
                margin-top: 36px;
                font-size: 16px;
                color: #bfbfbf;
            }
        }
    }

    .genereal-layout{
        margin: 0px 0px 256px;
        display: grid;
        grid-template-rows: repeat(3, auto);

        p{
            margin-top: 32px;
        }

        .img{
            width: 100%;
            img{
                max-width: 1150px;
                width: 100%;
            }
        }

        @media (max-width: 1023px) {
            .item1 {grid-area: 2;}
            .item2 {grid-area: 1;}
        }

        .showcase-container{
            display: grid;
            @media (min-width: 1024px) {
                grid-template-columns: repeat(2, auto);
            }
            @media (max-width: 1023px) {
                grid-template-columns: repeat(1, auto);
            }
            justify-content: center;
            margin: 240px 40px 0px;

            .left{
                display: grid;
                grid-template-rows: repeat(2, auto);
                align-self: center;
                height: fit-content;
                @media (min-width: 1024px) {
                    margin-right: 128px;
                    margin-top: 0px;
                }
                @media (max-width: 1023px) {
                    margin-right: 0px;
                    margin-top: 80px;
                }

                h2{
                    font-weight: 700;
                    font-size: 1.9rem;
                    align-content: end;
                    max-width: 350px;
                    letter-spacing: -0.025em;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }

                p{
                    text-align: left;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #bfbfbf;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }
            }
        }

        .showcase-container-reverse{
            display: grid;
            @media (min-width: 1024px) {
                grid-template-columns: repeat(2, auto);
            }
            @media (max-width: 1023px) {
                grid-template-columns: repeat(1, auto);
            }
            justify-content: center;
            margin: 240px 40px 0px;

            .right{
                display: grid;
                grid-template-rows: repeat(2, auto);
                align-self: center;
                height: fit-content;
                @media (min-width: 1024px) {
                    margin-left: 128px;
                    margin-top: 0px;
                }
                @media (max-width: 1023px) {
                    margin-left: 0px;
                    margin-top: 80px;
                }

                h2{
                    font-weight: 700;
                    font-size: 1.9rem;
                    align-content: end;
                    max-width: 350px;
                    letter-spacing: -0.025em;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }

                p{
                    text-align: left;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #bfbfbf;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }
            }
        }

        .second{
            margin: 112px 40px 0px;
        }
    }
}