main {
  display: grid;
  grid-template-rows: auto auto;
}
main .download-portmaster {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 0px 40px;
  margin-top: 200px;
}
main .download-portmaster .left {
  align-items: center;
  justify-items: center;
  margin-top: 100px;
  margin-right: 150px;
}
main .download-portmaster .left h2 {
  font-size: 2.5rem;
  max-width: 350px;
}
main .download-portmaster .left p {
  max-width: 350px;
}
main .download-portmaster .right {
  max-width: 56rem;
}
main .download-portmaster .right .under {
  max-width: 56rem;
  width: auto;
  height: auto;
}
main .desktop {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 75px;
  margin-bottom: 300px;
}
main .desktop h2 {
  font-size: 2.5rem;
  max-width: 350px;
}
main .desktop .download {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 25px;
}
main .desktop .download .karta {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 10px;
  padding: 30px;
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(40, 40, 40);
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: 0.2s;
}
main .desktop .download .karta .name {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: rgb(20, 20, 20);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main .desktop .download .karta .name h3 {
  font-size: 1.25rem;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .name p {
  color: gray;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .dependencies {
  display: grid;
  grid-template-rows: auto auto;
  background-color: rgb(20, 20, 20);
  row-gap: 5px;
}
main .desktop .download .karta .dependencies p {
  color: gray;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .dependencies .linky {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .dependencies .linky a {
  color: rgb(97, 136, 255);
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .dependencies .linky a:hover {
  color: rgb(17, 56, 255);
}
main .desktop .download .karta .additional {
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .additional p {
  color: gray;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .additional .linky {
  display: grid;
  grid-template-columns: auto;
  row-gap: 3px;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .additional .linky a {
  color: rgb(97, 136, 255);
  background-color: rgb(20, 20, 20);
}
main .desktop .download .karta .buttons {
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
  padding: 25px;
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(40, 40, 40);
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: 0.2s;
}
main .desktop .download .windows .name {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: rgb(20, 20, 20);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
main .desktop .download .windows .name h3 {
  font-size: 1.25rem;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows .name p {
  color: gray;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows .additional {
  display: grid;
  grid-template-columns: auto;
  row-gap: 5px;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows .additional p {
  color: gray;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows .additional .linky {
  display: grid;
  grid-template-columns: auto;
  row-gap: 3px;
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows .additional .linky a {
  color: rgb(97, 136, 255);
  background-color: rgb(20, 20, 20);
}
main .desktop .download .windows .buttons {
  background-color: rgb(20, 20, 20);
}/*# sourceMappingURL=main-download.css.map */