main{
    display: block;
    background-color: blue;

    .uvod{
        display: block;
        height: 93vh;
        
        h1{
            text-align: center;
        }

        img{
            width: 100px;
        }
    }

    div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin-bottom: 5px;
        font-size: xx-large;

        p{
            margin: 25px;
        }
        img{
            margin: 25px;
            height: auto;
        }
    }
}