main{
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-top: 10rem;

    p{
        color: rgba(191, 191, 191, 1);
    }

    .first{
        display: grid;
        grid-template-rows: repeat(2, auto);

        .top{
            display: grid;
            grid-template-rows: repeat(2, auto);
            justify-content: center;
            padding-top: 64px;

            h1{
                text-align: center;
                font-weight: 900;
                letter-spacing: -0.025em;
                font-size: 3.75rem;
                line-height: 1;
                width: 700px;
            }

            p{
                justify-self: center;
                width: 512px;
                text-align: center;
                font-weight: 600;
                line-height: 1.5;
                margin-top: 32px;
            }
        }

        .video{
            margin-top: 32px;
            padding: 0px 40px;
            video{
                width: 100%;
            }
        }
    }

    .genereal-layout{
        margin: 160px 0px 256px;
        display: grid;
        grid-template-rows: repeat(3, auto);

        @media (max-width: 1023px) {
            .item1 {grid-area: 2;}
            .item2 {grid-area: 1;}
        }

        .second{
            display: grid;
            @media (min-width: 1024px) {
                grid-template-columns: repeat(2, auto);
            }
            @media (max-width: 1023px) {
                grid-template-columns: repeat(1, auto);
            }
            justify-content: center;
            margin: 0px 40px;

            .img{
                width: 100%;

                img{
                    max-width: 1150px;
                    width: 100%;
                }
            }

            .left{
                display: grid;
                grid-template-rows: repeat(2, auto);
                align-self: center;
                height: fit-content;
                @media (min-width: 1024px) {
                    margin-right: 128px;
                    margin-top: 0px;
                }
                @media (max-width: 1023px) {
                    margin-right: 0px;
                    margin-top: 80px;
                }

                h2{
                    font-weight: 700;
                    font-size: 1.9rem;
                    align-content: end;
                    max-width: 350px;
                    letter-spacing: -0.025em;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }

                p{
                    max-width: 448px;
                    margin-top: 32px;
                    text-align: left;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #bfbfbf;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }
            }
        }

        .third{
            display: grid;
            @media (min-width: 1024px) {
                grid-template-columns: repeat(2, auto);
            }
            @media (max-width: 1023px) {
                grid-template-columns: repeat(1, auto);
            }
            justify-content: center;
            margin: 240px 40px 0px;

            .img{
                width: 100%;

                img{
                    max-width: 1150px;
                    width: 100%;
                }
            }

            .right{
                display: grid;
                grid-template-rows: repeat(2, auto);
                align-self: center;
                height: fit-content;
                @media (min-width: 1024px) {
                    margin-left: 128px;
                    margin-top: 0px;
                }
                @media (max-width: 1023px) {
                    margin-left: 0px;
                    margin-top: 80px;
                }

                h2{
                    font-weight: 700;
                    font-size: 1.9rem;
                    align-content: end;
                    max-width: 350px;
                    letter-spacing: -0.025em;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }

                p{
                    max-width: 448px;
                    margin-top: 32px;
                    text-align: left;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #bfbfbf;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }
            }
        }

        .fourth{
            display: grid;
            @media (min-width: 1024px) {
                grid-template-columns: repeat(2, auto);
            }
            @media (max-width: 1023px) {
                grid-template-columns: repeat(1, auto);
            }
            justify-content: center;
            margin: 240px 40px 0px;

            .img{
                width: 100%;

                img{
                    max-width: 1150px;
                    width: 100%;
                }
            }

            .left{
                display: grid;
                grid-template-rows: repeat(2, auto);
                align-self: center;
                height: fit-content;
                @media (min-width: 1024px) {
                    margin-right: 128px;
                    margin-top: 0px;
                }
                @media (max-width: 1023px) {
                    margin-right: 0px;
                    margin-top: 80px;
                }

                h2{
                    font-weight: 700;
                    font-size: 1.9rem;
                    align-content: end;
                    max-width: 350px;
                    letter-spacing: -0.025em;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }

                p{
                    max-width: 448px;
                    margin-top: 32px;
                    text-align: left;
                    font-weight: 600;
                    line-height: 1.5;
                    color: #bfbfbf;
                    @media (max-width: 1023px) {
                        justify-self: center;
                    }
                }
            }
        }
    }
}