main{
    display: block;

    .uvod{
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        
        .obrazok{
            align-content: end;
        }

        .title{
            align-items: start;
        }

        h1{
            text-align: center;
        }

        img{
            margin-left: auto;
            margin-right: auto;
            width: 500px;
        }
    }

    .about{
        background-color: rgb(35, 38, 39);
        padding: 50px;

        h2{
            font-size: 50px;
        }

        h3{
            padding-top: 15px;
            font-size: 30px;
        }

        p{
            font-size: 20px;
        }
    }

    .skills{
        /*
        DOKONČIT KARTY PRI SKILLOCH
        */

        h1{
            text-align: center;
        }
    }

    div{
        display: grid;
        text-align: left;
        font-size: xx-large;

        p{
            margin: 25px;
        }
        img{
            margin: 25px;
            height: auto;
        }
    }
}