main {
  display: grid;
  grid-template-rows: repeat(2, auto);
  margin-top: 160px;
}
main p {
  color: #bfbfbf;
  font-size: 16px;
  max-width: 448px;
}
main h2 {
  color: #fff;
  font-size: 48px;
}
main .first {
  display: grid;
  grid-template-rows: repeat(2, auto);
}
main .first .top {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  padding-top: 64px;
}
main .first .top a {
  margin-bottom: 30px;
}
main .first .top a h3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
main .first .top a h3 span {
  color: #029AD0;
}
main .first .top h2 {
  text-align: center;
  font-weight: 900;
  letter-spacing: -0.025em;
  line-height: 1;
  max-width: 700px;
}
main .first .top p {
  justify-self: center;
  max-width: 512px;
  text-align: center;
  margin-top: 36px;
}
main .first .top p span {
  color: #bfbfbf;
  -webkit-text-decoration: dotted underline #fff;
          text-decoration: dotted underline #fff;
}
main .genereal-layout {
  margin: 0px 0px 256px;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
main .genereal-layout p {
  margin-top: 32px;
}
main .genereal-layout p span {
  color: #bfbfbf;
  -webkit-text-decoration: dotted underline #fff;
          text-decoration: dotted underline #fff;
}
main .genereal-layout .img {
  width: 100%;
}
main .genereal-layout .img img {
  max-width: 1150px;
  width: 100%;
}
main .genereal-layout h2 {
  max-width: 448px;
}
@media (max-width: 1023px) {
  main .genereal-layout .item1 {
    grid-area: 2;
  }
  main .genereal-layout .item2 {
    grid-area: 1;
  }
}
main .genereal-layout .showcase-container {
  display: grid;
  justify-content: center;
  margin: 240px 40px 0px;
}
@media (min-width: 1024px) {
  main .genereal-layout .showcase-container {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container {
    grid-template-columns: repeat(1, auto);
  }
}
main .genereal-layout .showcase-container .left {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 1024px) {
  main .genereal-layout .showcase-container .left {
    margin-right: 128px;
    margin-top: 0px;
  }
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container .left {
    margin-right: 0px;
    margin-top: 80px;
  }
}
main .genereal-layout .showcase-container .left h2 {
  font-weight: 700;
  align-content: end;
  letter-spacing: -0.025em;
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container .left h2 {
    justify-self: center;
  }
}
main .genereal-layout .showcase-container .left p {
  text-align: left;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container .left p {
    justify-self: center;
  }
}
main .genereal-layout .showcase-container-reverse {
  display: grid;
  justify-content: center;
  margin: 240px 40px 0px;
}
@media (min-width: 1024px) {
  main .genereal-layout .showcase-container-reverse {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container-reverse {
    grid-template-columns: repeat(1, auto);
  }
}
main .genereal-layout .showcase-container-reverse .right {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 1024px) {
  main .genereal-layout .showcase-container-reverse .right {
    margin-left: 128px;
    margin-top: 0px;
  }
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container-reverse .right {
    margin-left: 0px;
    margin-top: 80px;
  }
}
main .genereal-layout .showcase-container-reverse .right h2 {
  font-weight: 700;
  align-content: end;
  letter-spacing: -0.025em;
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container-reverse .right h2 {
    justify-self: center;
  }
}
main .genereal-layout .showcase-container-reverse .right p {
  text-align: left;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  main .genereal-layout .showcase-container-reverse .right p {
    justify-self: center;
  }
}
main .genereal-layout .showcase-container-under {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  margin: 240px 40px 0px;
}
main .genereal-layout .showcase-container-under .right {
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 0px;
  margin-top: 80px;
}
main .genereal-layout .showcase-container-under .right h2 {
  font-weight: 700;
  align-content: end;
  letter-spacing: -0.025em;
  justify-self: center;
}
main .genereal-layout .showcase-container-under .right p {
  text-align: left;
  font-weight: 600;
  line-height: 1.5;
  justify-self: center;
}
main .genereal-layout .showcase-container-under .video {
  max-width: 850px;
  width: 100%;
}
main .genereal-layout .showcase-container-under .video video {
  max-width: 850px;
  width: 100%;
  z-index: 1;
}
main .genereal-layout .second {
  margin: 112px 40px 0px;
}/*# sourceMappingURL=main-spn.css.map */