main{
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 10rem;
    margin-bottom: 16rem;

    p{
        color: rgba(191, 191, 191, 1);
    }

    .first{
        display: grid;
        grid-template-rows: auto auto auto;
        justify-items: center;

        .title{
            h1{
                text-align: center;
                font-weight: 900;
                letter-spacing: -0.025em;
                font-size: 3.75rem;
                line-height: 1;
            }

            max-width: 700px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
        }
    
        .explain{
            width: 550px;
            margin-top: 50px;
            margin-bottom: 100px;
            
            p{
                text-align: center;
                font-weight: 600;
            }
        }
    }

    .second{
        margin-top: 100px;
        display: grid;
        grid-template-columns: auto auto;

        .img{
            img{
                max-width: 1150px;
            }
        }

        div{
            display: grid;
            grid-template-rows: auto auto;
            margin-left: 50px;

            .title{
                font-size: x-large;
                align-content: end;
                width: 300px;
            }
    
            .explain{
                width: 460px;
                margin-top: 25px;
                
                p{
                    text-align: left;
                    font-weight: 600;
                }
            }
        }
    }
}